*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    outline: 0;
    font-family: 'Poppins',sans-serif;
    color: white;
}

.hero-section{
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url("./bg.jpg");
    width: 100vw;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header nav{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.btn{
    width: 100px;
    height: 35px;
    color: white;
    background-color: #1D24CA;
    cursor: pointer;
}
.btn:hover{
    background-color: #201658;
}

.lang{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.store-name{
    padding-top: 50px;
    font-size: 50px;
    padding: 20px;
    font-family: cursive;
}
.quote{
    padding: 15px;
}
.logo{
    color: white;
}

.visit{
    margin: 15px;
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.top-sellers{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #ECB159, #B67352);
}

.cards{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card{
    width: 250px;
    aspect-ratio: 9/15;
    margin: 2vh;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#hp{
    background-size: cover;
    background-repeat: none;
    background-position: fixed;
    background-position-x: center;
}

#wap{
    background-size: cover;
    background-repeat: none;
    background-position: fixed;
    background-position-x: center;

}

#dune{
    background-size: cover;
    background-repeat: none;
    background-position: fixed;
    background-position-x: center;
}

.heading{
    color: black;
    padding-block: 50px;
}

.poster{
    width: 70%;
    height: 60%;
    margin-bottom: 10px;
}

.book-name{
    font-size: 1rem;
    padding: 5px;
    color: black;

}